.cart_wrapper {
    margin-top: 60px;
    /* box-shadow: 0px 0px 6px #000; */
    background: #fff
}
.cart_table_wrapper {
    overflow-x: scroll;
    width:100%;
}


.cart_sum {
    background: #F5F5F5
}

.headers {
    font-weight: bold;
    border-bottom: 1px solid #0000001a;
    padding-bottom: 10px
}

.promoBtn{
    background: #F3726C;
    color: #fff;
    padding-left: 15px;
    padding-right:15px;
}


:is(table.cart_table thead th,
    table.cart_table thead,
    tbody,
    tbody td) {
    border: medium none !important;
}

table.cart_table tbody tr::after {
    content: "";
    background: #000 !important;
    width: 100%;
    height: 1px;
    position: relative;
}

.back_link:hover{
    color:#8DCA57;
}
.btn_cart {
    font-size: 13px;
    background: #F5F5F5;
    padding: 5px;
}

.p_card{
    border:1px solid #00000030;
    border-radius:2px;
}
.p_card_active{
    background-color: #8DCA57;
    color: #fff;
    border-color: #25441b2f;
}

.phone_number_wrapper {
    background-color: #f5f5f596;
    /* color: #8DCA57;  */
}
.billing_address{
    background-color: #F5F5F5;
}

.billing_address > div{margin-bottom:5px; font-size:12px}

.card_Wrapper label{ font-size:14px; font-weight:400; }
.card_Wrapper input, .card_Wrapper select{ font-size: 14px}

/* .cardLogos{width:100%; height: 80px; background-size: 100%;} */

