
body{ font-family: "Poppins"}
.body_gray {
  background: #e5e6ea;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: #25441B;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

.container {
  max-width: 1120px;
  width:100%;
  margin: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bg-green {
  background-color: #25441B;
}
.slider{width: 100%; overflow: hidden;}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.pointer { cursor: pointer; }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.react-tel-input .form-control {
  width: 100% !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
}

.App-link {
  color: #61dafb;
}
.btn-primary {
  color: #fff;
  background-color: #8DCA57 !important;
  border-color: #8DCA57 !important;
}
ul.country-list {
  text-align: left;
}

.dropdown-divider {
  width: 100%;
  height: 1px;
  background-color: #00000003
}

.usr_drop .material-icons-outlined{ font-size: 17px}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
